.grid-container {
  max-width: 100%;
  overflow-x: auto;
}

.header-table {
  display: grid;
  grid-template-columns: 15% 20% 25% 15% 25%;
  gap: 1px;
}

.header-cell {
  padding: 10px 8px;
  color: var(--table-header-color);
  background-color: var(--table-header-background-color);
  font-size: 1rem;
  font-weight: 700;
}
